fastai==2.0.6
fastcore==1.0.0
fasteners==0.14.1
fastprogress==1.0.0
imageio==2.9.0
kornia==0.4.0
numpy==1.19.0
Pillow==7.0.0
pyarrow==1.0.1
pydicom==2.0.0
pytorch-lightning==0.9.0
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.1
segmentation-models-pytorch==0.1.0
tensorboard==2.2.0
tensorboard-plugin-wit==1.7.0
torch==1.6.0
torchvision==0.7.0
tqdm==4.48.0
